/* Header Section Start */
header {
  background-color: #212529;
  padding: 1.5rem;
}
.header-left,
.header-right {
  display: inline-block;
}
.header-left {
  margin-left: 3%;
  margin-right: 70%;
  font-size: 1.25rem;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
a {
  color: #fff;
  text-decoration: none;
}
li {
  margin-left: 9%;
}
.gray {
  color: #9a9d9e;
}
/* Header Section End */

/* Main Section Start */
.background-sea {
  background-image: url(/images/photo-1468657988500-aca2be09f4c6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6%;
  text-align: center;
}
.background-sea h1 {
  color: #fff;
  margin: 1%;
}
.background-sea p {
  color: #9a9d9e;
}
.background-sea img {
  border-radius: 50%;
}
.info {
  padding: 6% 30%;
  text-align: justify;
}
.info h2 {
  font-weight: 600;
  margin-bottom: 3%;
  font-size: 2rem;
}
.info article {
  margin-bottom: 3%;
  font-size: 1.25rem;
  font-weight: 300;
}
.info p {
  font-size: 1rem;
  font-weight: 300;
}
.background-moon {
  background-image: url(/images/photo-1516663713099-37eb6d60c825.jpeg);
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Main Section End */

/* Footer Section Start */
footer {
  background-color: #212529;
  padding: 3rem;
  color: #fff;
  text-align: center;
}
/* Footer Section End */
